# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

# Environment / secrets
.env
.env.local

# OS noise
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.log

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/
